@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* HEADER */
  .header-1 {
    @apply py-8 text-center text-3xl font-semibold;
  }

  /* ITEMS */
  .table-item {
    @apply text-gray-dark hover-mod:group-hover:text-navy;
  }

  /* BUTTONS */
  .select-btn__open {
    @apply transition-200 rounded border border-gray-200 bg-white py-0.5 pl-2 pr-1 text-gray-500;
  }
  .select-btn__closed {
    @apply transition-200 rounded border border-gray-50 py-0.5 pl-2 pr-1 text-gray-500 active:bg-white  hover-mod:group-hover:text-navy;
  }
  .select-btn__item-active {
    @apply cursor-pointer py-2 px-4 text-blue-base outline-none focus:bg-gray-100;
  }
  .select-btn__item-inactive {
    @apply cursor-pointer py-2 px-4 text-gray-500 outline-none focus:bg-gray-100 focus:text-navy aria-selected:bg-gray-100 aria-selected:text-navy;
  }
  .slider-btn {
    @apply absolute top-0 z-50 h-full w-8 cursor-pointer items-center bg-white text-gray-dark transition duration-200 ease-out hover-mod:hover:text-black;
  }

  /* SUBNAV */
  .subnav-active {
    @apply rounded bg-gray-50 px-2 text-gray-500;
  }
  .subnav-inactive {
    @apply transition-200 rounded px-2  text-gray-200 hover-mod:hover:bg-gray-600 hover-mod:hover:text-white;
  }

  /* LOADERS */
  .pulse-loader {
    @apply flex-1 animate-pulse rounded-full bg-gray-200;
  }

  /* TRANSITIONS */
  .transition-200 {
    @apply transition duration-200 ease-out;
  }
  .transition-500 {
    @apply transition duration-500 ease-in-out;
  }

  /* SCROLLBAR */
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
